{% extends "template.html" %}
{% block content %}
<div class="container">
    <h1>homepage</h1>
    <p>hi!</p>
    <p>this website is a project made to test different age groups' ability to distinguish between ai-generated and human-made images.</p>
    <p>the test is meant to be a fun and educational experience!</p>
    <p>to get started, click the button below or go to the "stuff" page. sorry for the uncreative names lol</p>
    <button onclick="window.location.href = 'stuff.html'">yay</button>
</div>
{% endblock %}