<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="/src/authState.js"></script>
  {% block header %}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="/styles.css">
</head>
<style>
body {
  font-family: "Source Code Pro", monospace;
  background-color: rgb(236, 230, 216);
}

button, input, select {
  font-family: "Source Code Pro", monospace;
  border: solid 2px;
  box-shadow: 2px 4px 0px;
  margin: 2px;
  padding: 6px 8px;
  background-color: rgb(236, 230, 216);
}

button:hover {
  cursor: pointer;
}
</style>
<body>
  <div id="page-wrapper">
    <nav id="navigation_box">
      <h1>HIIIII</h1>

      <div id="right_navigation_box">
         <div class="dropdown">
          <button class="dropbtn">menu
          </button>
          <div class="dropdown-content">
            <a href="/index.html" class="active">home</a>
            <a href="/instruct.html">test</a>
          </div>
        </div>
      </div>

      
    </nav>

    <main id="main-content">
      {% block content %}
      <section class="hero">
      </section>
      {% endblock %}
    </main>


    <footer class="footer">
      <div class="footer-container">
        <h2>:)</h2>
      </div>
    </footer>


  </div>
  <script src="/js/main.js"></script>
</body>

</html>