{% extends "base.html" %}
{% block content %}
<div class="container">
  <div id="progressBar"><div id="progress"></div></div>

  <h2 id="countdown"></h2>
  <div class="image-container">
    <img id="image">
  </div>

  <div>
    <button onclick="answer('AI')">AI</button>
    <button onclick="answer('Human')">Human</button>
  </div>
  
  <button id="next-btn" class="hidden" onclick="loadNext()">next image →</button>

  <p id="timer"></p>
</div>
<script src="/js/script.js"></script>
{% endblock %}